
*{
	font-family: fantasy;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	color: darkgray;
}
header{
	background-color: #ADB1D7;
	width: 100%;
	position: fixed;
	z-index: 999;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 90px;
}
section{
	padding: 20px 300px;
}

.main{	
	width: 60%; /* the width should be 60% of the screen and the height can be higher than 70 of the viewport but it can't be less*/
	min-hight: 70hv;
	display: flex;
    justify-content: space-between;
	padding: 10px 100px;
	
}

.start-button{
	color:white ;
	background-color:#654591;
	text-decoration: none;
	font-size: 1.1em;
	font-weight: 600;
	display: inline-block;
	padding:  0.3006em 2.1745em;
	border-radius: 15px;
	margin-bottom: 30px;
	transition: 0.5s ease; /* linked with the transform , so when the user hover above button it'll get slightly bigger but not too fast nor too slow*/

}
.start-button:hover{
	transform: scale(1.1); /* how much i want the button to get bigger on scale x and y */

}

.prayers{
	display: inline-block;
    justify-content: space-between;
	padding: 100px 190px;
	margin-left: 10px;

}
h2{
	background-color: white;
}
.prayersCol2{
	display: fixed;
    justify-content: space-between;
	padding: 0px 700px;

}